
<div class="container-fluid table_search grid-header">
  <div >
    <div class="col-xs-6 resource_name">
      <h4 style="margin-left:-15px"; class="modal-header-title grid-header-text smaller blue"><%- schema.title %></h4>
     </div>
    <div class="col-xs-6 func">
      <div class="widget-toolbar pull-right">
             <form class="form-inline">
        <div class="form-group" data-gohan="search">
           <a class="widget-toolbar-icon link-searchbox" title="Search" data-action="search" style="display: inline;" onclick="window.searchExpand()">
                <i class="fa fa-search"></i>
           </a>
            <span class="input-searchbox hide" style="display: inline;">
              <span>Filter by:</span>
          <select class="form-control" placeholder="Filter By">
            <% schema.schema.propertiesOrder.forEach( function(key){
              var property = schema.schema.properties[key];
              var view = property['view']

              if(view && !view.includes('list') || key === parentProperty){
               return;
              }
            %>
                <option value="<%= key %>"><%= property.title %></option>
            <%
              }
            );
            %>
          </select>
                <span class="input-icon">
                    <input type="text" placeholder="Search" class="input-medium input-grid-search form-control search" value="">
                       <i class="widget-toolbar-icon fa fa-search"></i>
                </span>
            </span>
                    </div>
      </form>
       </div>
       <!--
      <div class="widget-toolbar pull-right"><a class="widget-toolbar-icon gohan_delete_selected" disabled ><i class="fa fa-trash"></i></a></div>-->
      <div class="widget-toolbar pull-right"><a class="widget-toolbar-icon gohan_create" data-gohan="create" ><i class="fa fa-plus"></i></a></div>
    </div>
  </div>
</div>
<div data-gohan="error"></div>
<div class="card">
  <table class="table table-striped gohan-table">
    <thead>
      <tr>
       <% schema.schema.propertiesOrder.forEach( function(key){
           var property = schema.schema.properties[key];
           var view = property['view']

           if(view && !view.includes('list') || key === parentProperty){
             return;
           }
        %>
        <th>
            <a href="#<%= schema.url.substring(1) %>" data-id="<%= key %>" class="title" data-gohan="sort-title"><%= property.title %>
                <% if(sort.by === key) {
                    if(sort.reverse) {%>
                        <div class="glyphicon glyphicon-sort-by-alphabet-alt"></div>
                    <% } else { %>
                        <div class="glyphicon glyphicon-sort-by-alphabet"></div>
                    <% }
                } %>
            </a>
        </th>
       <% }); %>
       <th></th>
      </tr>
    </thead>
    <tbody id="page<%= key + 1 %>" >
      <% _.each(data, function(d){ %>
      <tr>
        <% schema.schema.propertiesOrder.forEach( function(key){
          var property = schema.schema.properties[key];
          var view = property['view']

          if (view) {
           if (view.indexOf("list") < 0) {
             return
           }
          }
          if (key === parentProperty){
           return
          }
          const title = property.title.toLowerCase();

          var urlPattern = /^((http|https):\/\/)/;
          if (property['format'] === 'uri' && urlPattern.test(d[key])) { %>
          <td><a href="<%- d[key] %>" target="blank"> link </a></td>
        <% }else if(title === 'name' || title === 'title'){ %>
          <td><a data-id="<%= d[key] %>" href="#<%= fragment %>/<%= d.id %>"><%= _.escape(d[key]) %></a></td>
        <% } else { %>
          <td><%= d[key] %></td>
        <% } %>
        <% }); %>
        <td class="action_column">
          <div class="btn-group ">
               <a data-toggle="dropdown" aria-expanded="true" data-container="body">
             <i class="fa fa-cog"></i>
             </a>
           <!--</button>-->
           <ul class="dropdown-menu pull-right dropdown-caret grid-action-menu" role="menu" >
             <li><a class=" gohan_update" data-id="<%- d['id']%>" data-gohan="update">
          <i class="fa fa-edit margin-right-10"></i>Edit</a></li>
             <li><a class="gohan_delete" data-id="<%- d['id']%>" data-gohan="delete" >
          <i class="fa fa-trash-o margin-right-10"></i>Delete</a></li>
           </ul>
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% if (pageCount > 1) { %>
<nav data-gohan="pagination">
  <ul class="pagination pagination-sm">
    <li <% if (activePage === 1) { %> class="disabled" <% }%>>
      <a data-id="prev" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% if(pagination.start !== 1) { %>
      <li><a data-id="<%= pagination.start - 1 %>" data-more="<%= 'left' %>"><%=(pagination.start - pagination.limit + 1) +'...' + (pagination.start - 1) %></a></li>
    <% } %>
    <% for (var key = pagination.start; key <= pagination.start + pagination.limit - 1 && key <= pageCount; key++) {
      if(key === pagination.start + pagination.limit - 1) {
      %>
      <li ><a data-id="<%= key %>" data-more="right"><%= key + '...' + pageCount %></a></li>
      <% } else {
        %>
      <li <% if (key === activePage) { %> class="active" <% }%>><a data-id="<%= key %>"><%= key %></a></li>
        <%
      }
    } %>
    <li <% if (activePage === pageCount) { %> class="disabled" <% }%>>
      <a data-id="next" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<% } %>


